* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../imm/hh.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Wrapper for the form */
.wrapper {
    width: 400px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white */
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Title styling */
.wrapper h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #21a9d3;
}

/* Input box for form fields */
.input-box {
    margin-bottom: 20px;
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
    font-size: 16px;
    color: #333;
    outline: none;
}

.input-box input::placeholder {
    color: #aaa;
    font-size: 16px;
}


.input-box input:focus {
    border-bottom: 2px solid #21a9d3;
}

/* File input styling */
.input-box input[type="file"] {
    border-bottom: none;
    margin-top: 10px;
}

.input-box input[type="file"]::file-selector-button {
    background-color: #21a9d3;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.input-box input[type="file"]::file-selector-button:hover {
    background-color: #1b8cb5;
}

/* Submit button styling */
.btn {
    width: 100%;
    padding: 10px;
    background-color: #21a9d3;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background-color: #1b8cb5;
}
